/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

.navbar h1 {
    margin: 0;
}

h2 {
    color: #333;
    margin-top: 50px;
}

button {
    background-color: #696969;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    gap: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #808080;
}

/* Add spacing between input fields */
form input {
    margin-bottom: 10px;
}

/* table borders and */
table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}
th,td {
    padding: 10px;
    text-align: center;
}

table, td, th {  
    border: 1px solid #ddd;
}